@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Login - Sistema de costos</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/fonts/fontgoogleapi.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="~/Content/css/pages/signin.css" rel="stylesheet" />
</head>

<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="@Url.Action("Index", "Administracion")">Sistema Centros de Costos</a>
            </div>
        </div>
    </div>

    <div class="account-container">

        <div class="content clearfix">

            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.Partial("_ValidationSummary")

                <h1>Ingreso al sistema</h1>

                <div class="login-fields">

                    <p>Introduce tus credenciales</p>

                    <div class="field">
                        <label for="username">Usuario</label>
                        <input type="text" id="username" name="username" value="" placeholder="Usuario" class="login username-field" />
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" value="" placeholder="Contraseña" class="login password-field" />
                    </div> <!-- /password -->

                </div> <!-- /login-fields -->

                <div class="login-actions">
            
                    <button type="submit" class="button btn btn-success btn-large">Ingresar</button>

                </div> <!-- .actions -->
            }

        </div> <!-- /content -->

    </div> <!-- /account-container -->


    <script src="~/Scripts/js/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/js/bootstrap.js"></script>
    <script src="~/Scripts/js/signin.js"></script>

</body>

</html>

